.Logo {
  padding-top: 10px;
  padding-left: 55%
}

li {
  padding-left: 30px;
  font-size: large;

}

.navbar {
  padding-left: 18.5%;
}

h4 {
  padding-top: 10px;
  text-align: center;

}

h5 {
  text-align: center;
  padding-top: 10px;

}

img {
  padding-top: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}